.jumbotron, .alert {
	margin-top: 70px;
	margin-bottom: -50px;
}

.page-header {
	padding-top: 10px;
}

.form-control {
	width: 50%;
}

.panel {
	text-align: center;
}

.panel-footer {
	text-align: left;
}

.thumbnail {
	width: 200px;
	height: 200px;
	vertical-align: middle;
}

.thumb-img {
	position: relative;
}

#img-display {
	width: 75%;
}

#form-textarea {
	height: 100px;
}

#table-small {
	width: 150px;
}

#table-medium {
	width: 250px;
}