.jumbotron, .alert {
	margin-top: 70px;
	margin-bottom: -50px;
}

.page-header {
	padding-top: 10px;
}

.form-control {
	width: 50%;
}

#img-display {
	width: 75%;
}

#form-textarea {
	height: 100px;
}