<!DOCTYPE html>
<html lang="en">
<head>
	<title>Imgurclone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is Imgurclone. A site that operates similarly to Imgur">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" >
</head>

<body role="document">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">ImgurClone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li><a href="{{ url_for('home') }}">Home</a></li>-->
            {% if current_user.name == 'Anonymous' %}<li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('user_page', username=current_user.name) }}">User Page</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
              </ul>
            </li>{% endif %}
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
          </ul>

          <form class="navbar-form navbar-right" role="search" action="{{ url_for('search_image') }}" method="get">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q">
            </div>
            <button type="submit" class="btn btn-primary">Search!</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container theme-showcase" role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category,message in messages %}
        <div class="alert alert-{{ category }} alert-hider" role="alert">
          <strong>Message: </strong>{{ message }}
        </div>
      {% endfor %}
    {% endwith %}
		{% block body %}{% endblock %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}" ></script>
</body>
</html>