{% extends "base.html" %}
{% block body %}
	<div class="jumbotron">
		<h1>ImgurClone</h1>
		<p>Welcome to ImgurClone. Feel free to check out the many images stored on our databases! Or maybe you have a picture you want to share?</p>
		<p><a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg" role="button">Upload Now!</a></p>
	</div>

	<div class="page-header">
		<h1>Recent Uploads</h1>
	</div>
	{% for thumb in thumbs %}
		<a href="{{ url_for('view_image', img_id=thumb) }}" class="thumbnail"><img src="{{ url_for('return_image', img_id=thumb) }}" class="thumb-img" alt="Oops we couldn't find this image :("></a>
	{% endfor %}
{% endblock %}