{% extends "base.html" %}
{% block body %}
	<div class="page-header">
		<h1>{{ name }}</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<img class="img-rounded" id="img-display" alt="Oops. We couldn't load that picture :(" src="{{ url_for('return_image', img_id=img) }}">
		</div>
		<div class="panel-footer">{{ desc }}</div>
	</div>
	<h3>Comments:</h3>
	<table class="table">
	{% for comm in comms %}
		<tr><td id="table-small"><strong>{{ comm.name }}</td></strong><td>{{ comm.text }}</td></tr>
	{% endfor %}
	</table>
	<form role="form" action="{{ url_for('comment') }}" method="post">
		<div class="form-group">
			<label for="name">Upload Name</label>
			<input class="form-control" type="text" name="name" placeholder="name">
		</div>
		<div class="form-group">
			<label for="comment">Upload Description</label>
			<textarea class="form-control" id="form-textarea" name="text" placeholder="comment"></textarea>
		</div>
		<input type="hidden" name="img_id" value="{{ img }}">
		<button type="submit" class="btn btn-primary">Comment!</button>
	</form>
{% endblock %}